{% extends 'base.html' %} {% block title %}Show Tasks{% endblock title %}
{%block content %}
<h2 class="text-3xl font-bold mb-4">Show Tasks</h2>
{% for task in tasks %}
<div class="bg-white p-6 rounded-md shadow-md mb-4">
    <h3 class="text-xl font-bold">{{ task.taskTitle }}</h3>
    <p class="text-gray-600">{{ task.taskDescription }}</p>
    <p class="text-gray-600">Assigned Date: {{ task.taskAssignDate }}</p>
    <p class="text-gray-600">Categories: {{ task.categories.all|join:", " }}</p>
    {% if task.is_completed %}
    <p class="text-green-500">Completed</p>
    {% else %}
    <div class="mt-2 flex">
        <a
            href="{% url 'edit_task' task.id %}"
            class="bg-blue-500 text-white px-4 py-2 rounded mr-2"
            >Edit</a
        >
        <form action="{% url 'delete_task' task.id %}" method="post">
            {% csrf_token %}
            <button
                type="submit"
                class="bg-red-500 text-white px-4 py-2 rounded"
            >
                Delete
            </button>
        </form>
    </div>
    {% endif %}
</div>
{% endfor %} {% endblock content %}
