{% extends 'base.html' %} {% block title %}Show Categories{% endblock title%}
{%block content %}
<h2 class="text-3xl font-bold mb-4">Show Categories</h2>
{% for category in categories %}
<div class="bg-white p-6 rounded-md shadow-md mb-4">
    <h3 class="text-xl font-bold">{{ category.name }}</h3>
    <div class="mt-2 flex">
        <a
            href="{% url 'edit_category' category.id %}"
            class="bg-blue-500 text-white px-4 py-2 rounded mr-2"
            >Edit</a
        >
        <form action="{% url 'delete_category' category.id %}" method="post">
            {% csrf_token %}
            <button
                type="submit"
                class="bg-red-500 text-white px-4 py-2 rounded"
            >
                Delete
            </button>
        </form>
    </div>
</div>
{% endfor %} {% endblock content %}
